<?php
// API_KEY, LEGACY_SECRET_KEY, and SITE_KEY come from Google Cloud console.
$API_KEY ="(placeholder)";    // Must be kept secret. (Currently unused. Was getting HTTP 403.)
$LEGACY_SECRET_KEY = "(placeholder)"; // Must be kept secret.
$SITE_KEY = "(placeholder)"; // Included in HTML. Not secret.
?>